

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* index.css */

/* Light Theme */
body.light {
  background-color: #D4BEE4;
  color: #333;
}

body.light .save-button {
  background-color: #007bff;
}

body.light .save-button:hover {
  background-color: #0056b3;
}

/* Dark Theme */
body.dark {
  background-color: #9B7EBD;
  color: #f9f9f9;
}

body.dark .save-button {
  background-color: #444;
}

body.dark .save-button:hover {
  background-color: #222;
}

/* Apply to the whole page */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}